In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
with open("../example3.json") as fp:
    global origin_data
    origin_data = fp.read()
origin_data = json.loads(origin_data)

In [3]:
origin_nodes = origin_data['nodes']
origin_links = origin_data['links']

In [4]:
origin_nodes = pd.DataFrame(origin_nodes).T
origin_nodes.head(5)

,name,type,page,graph_name,title,industry,is_alive
www_baojian52_com,www.baojian52.com,Domain,-1,www.baojian52.com,,,
baojian52_com,baojian52.com,Domain,-1,baojian52.com_涉枪,宝剑之家-龙泉刀剑门户网|唐刀|龙泉刀剑|武士刀|龙泉剑|日本刀|宝剑|汉剑|龙泉刀剑厂|龙...,涉枪,True
120_55_161_80,120.55.161.80,IP,-1,120.55.161.80,,,
120_55_161_0_24,120.55.161.0/24,IP_CIDR,-1,120.55.161.0/24,,,
AS37963,AS37963,ASN,0,AS37963,,,

In [5]:
origin_links = pd.DataFrame(origin_links).T
origin_links.head(5)

,id,relation,source,target
baojian52.com_www.baojian52.com,baojian52.com_www.baojian52.com,r_subdomain,baojian52.com,www.baojian52.com
www.baojian52.com_120.55.161.80,www.baojian52.com_120.55.161.80,r_dns_a,www.baojian52.com,120.55.161.80
baojian52.com_120.55.161.80,baojian52.com_120.55.161.80,r_dns_a,baojian52.com,120.55.161.80
120.55.161.80_120.55.161.0/24,120.55.161.80_120.55.161.0/24,r_cidr,120.55.161.80,120.55.161.0/24
120.55.161.80_AS37963,120.55.161.80_AS37963,r_asn,120.55.161.80,AS37963

In [6]:
origin_nodes.describe()

,name,type,page,graph_name,title,industry,is_alive
count,795,795,795,795,795,795,795
unique,795,8,4,795,94,4,2
top,www.seaisland.club,Domain,0,www.seaisland.club,,,
freq,1,669,679,1,587,779,557

In [7]:
origin_nodes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 795 entries, www_baojian52_com to 8fhc_xaomenlebo007_com
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        795 non-null    object
 1   type        795 non-null    object
 2   page        795 non-null    object
 3   graph_name  795 non-null    object
 4   title       795 non-null    object
 5   industry    795 non-null    object
 6   is_alive    795 non-null    object
dtypes: object(7)
memory usage: 49.7+ KB

In [8]:
origin_links.describe()

,id,relation,source,target
count,1209,1209,1209,1209
unique,1209,10,433,457
top,tbcache.com_www.taobao.com.danuoyi.tbcache.com,r_dns_a,xshoppy.shop,HiChina Web Solutions Limited
freq,1,413,81,60

In [9]:
origin_links.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1209 entries, baojian52.com_www.baojian52.com to xaomenlebo007.com_8fhc.xaomenlebo007.com
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1209 non-null   object
 1   relation  1209 non-null   object
 2   source    1209 non-null   object
 3   target    1209 non-null   object
dtypes: object(4)
memory usage: 47.2+ KB

In [10]:
node_type = origin_nodes.type.drop_duplicates()
node_type.index = list(range(node_type.size))
node_type

0         Domain
1             IP
2        IP_CIDR
3            ASN
4    Cert_SHA256
5     Whois_Name
6    Whois_Email
7    Whois_Phone
Name: type, dtype: object

In [11]:
tmp = pd.DataFrame(np.zeros((origin_nodes.shape[0], node_type.size + 2), dtype = int), columns = node_type.append(pd.Series(['All', 'Y']), ignore_index = True), index = origin_nodes.index,)
tmp

,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,Y
www_baojian52_com,0,0,0,0,0,0,0,0,0,0
baojian52_com,0,0,0,0,0,0,0,0,0,0
120_55_161_80,0,0,0,0,0,0,0,0,0,0
120_55_161_0_24,0,0,0,0,0,0,0,0,0,0
AS37963,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
7hpj_xaomenlebo007_com,0,0,0,0,0,0,0,0,0,0
lcgjweb_xaomenlebo007_com,0,0,0,0,0,0,0,0,0,0
8hpjweb_xaomenlebo007_com,0,0,0,0,0,0,0,0,0,0
bxinweb_xaomenlebo007_com,0,0,0,0,0,0,0,0,0,0
8fhc_xaomenlebo007_com,0,0,0,0,0,0,0,0,0,0

构造一个空的DataFrame，专门用来保存每个点的度

In [12]:
nodes = origin_nodes.loc[:, ['name', 'type']].join(tmp)
nodes.index = nodes.name
nodes = nodes.loc[:, 'type':]
nodes

,type,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,Y
name,,,,,,,,,,,
www.baojian52.com,Domain,0,0,0,0,0,0,0,0,0,0
baojian52.com,Domain,0,0,0,0,0,0,0,0,0,0
120.55.161.80,IP,0,0,0,0,0,0,0,0,0,0
120.55.161.0/24,IP_CIDR,0,0,0,0,0,0,0,0,0,0
AS37963,ASN,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7hpj.xaomenlebo007.com,Domain,0,0,0,0,0,0,0,0,0,0
lcgjweb.xaomenlebo007.com,Domain,0,0,0,0,0,0,0,0,0,0
8hpjweb.xaomenlebo007.com,Domain,0,0,0,0,0,0,0,0,0,0
bxinweb.xaomenlebo007.com,Domain,0,0,0,0,0,0,0,0,0,0
8fhc.xaomenlebo007.com,Domain,0,0,0,0,0,0,0,0,0,0

In [13]:
def func_iter(edge):
    source = edge['source']
    source_type = nodes.loc[source, 'type']
    target = edge['target']
    target_type = nodes.loc[target, 'type']
    nodes.loc[source, target_type] += 1
    nodes.loc[source, 'All'] += 1
    nodes.loc[target, source_type] += 1
    nodes.loc[target, 'All'] += 1

#origin_links.head(5)
origin_links.apply(func_iter, axis=1)
nodes.head(10)

,type,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,Y
name,,,,,,,,,,,
www.baojian52.com,Domain,1,1,0,0,0,0,0,0,2,0
baojian52.com,Domain,1,1,0,0,0,0,0,0,2,0
120.55.161.80,IP,2,0,1,1,0,0,0,0,4,0
120.55.161.0/24,IP_CIDR,0,6,0,0,0,0,0,0,6,0
AS37963,ASN,0,26,0,0,0,0,0,0,26,0
120.55.161.120,IP,2,0,1,1,0,0,0,0,4,0
120.55.161.222,IP,2,0,1,1,0,0,0,0,4,0
120.55.161.209,IP,4,0,1,1,0,0,0,0,6,0
120.55.161.229,IP,2,0,1,1,0,0,0,0,4,0
120.55.161.187,IP,2,0,1,1,0,0,0,0,4,0

In [14]:
nodes[nodes==0] = np.nan

def func_iter(node):
    ret = 0
    def func_node_type_iter(t):
        nonlocal ret
        if node[t] != node[t]:
            return
        else:
            tmp = node[t] / node['All']
            ret += tmp * tmp
    node_type.apply(func_node_type_iter)
    return ret
nodes.loc[:, 'Y'] = nodes.apply(func_iter, axis = 1)
nodes.head(10)

,type,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,Y
name,,,,,,,,,,,
www.baojian52.com,Domain,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2,0.500
baojian52.com,Domain,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2,0.500
120.55.161.80,IP,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,4,0.375
120.55.161.0/24,IP_CIDR,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,6,1.000
AS37963,ASN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,26,1.000
120.55.161.120,IP,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,4,0.375
120.55.161.222,IP,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,4,0.375
120.55.161.209,IP,4.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,6,0.500
120.55.161.229,IP,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,4,0.375
120.55.161.187,IP,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,4,0.375

In [15]:
grouped_type = nodes.groupby(by='type')

In [16]:
type_data = grouped_type[node_type.append(pd.Series(['All']), ignore_index = True)].sum()
type_data['num'] = grouped_type['type'].count()
type_data

,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,num
type,,,,,,,,,,
ASN,0.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,26,1
Cert_SHA256,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75,17
Domain,1120.0,413.0,0.0,0.0,75.0,69.0,27.0,13.0,1717,669
IP,413.0,0.0,26.0,26.0,0.0,0.0,0.0,0.0,465,76
IP_CIDR,0.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,26,16
Whois_Email,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,5
Whois_Name,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69,6
Whois_Phone,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,5

In [17]:
for (t, df) in grouped_type:
    type_data.loc[t, 'Avg_K'] = type_data.loc[t, 'All'] / type_data.loc[t, 'num']
    tmp = df['All'] * df['All']
    type_data.loc[t, 'Avg_K_2'] = tmp.sum() / tmp.size
    type_data.loc[t, 'Avg_Y'] = df['Y'].sum() / df.shape[0]
    tmp = df['Y'] * df['Y']
    type_data.loc[t, 'Avg_Y_2'] = tmp.sum() / tmp.size

type_data[type_data == 0.0] = np.nan

for index, row in type_data.iterrows():
    type_data.loc[index, 'K_0'] = row[node_type].count()
    tmp = 0
    for i, v in row[node_type].items():
        if v != v:
            # v is nan
            continue
        tmp += (type_data.loc[i, 'num'] / type_data.loc[index, 'num']) ** 2
    type_data.loc[index, 'Y_r'] = tmp
        
    

type_data

,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,num,Avg_K,Avg_K_2,Avg_Y,Avg_Y_2,K_0,Y_r
type,,,,,,,,,,,,,,,,
ASN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,26,1,26.000000,676.000000,1.000000,1.000000,1.0,5776.000000
Cert_SHA256,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,17,4.411765,68.529412,1.000000,1.000000,1.0,1548.653979
Domain,1120.0,413.0,NaN,NaN,75.0,69.0,27.0,13.0,1717,669,2.566517,42.509716,0.910582,0.871497,6.0,1.013743
IP,413.0,NaN,26.0,26.0,NaN,NaN,NaN,NaN,465,76,6.118421,97.355263,0.875935,0.812732,3.0,77.530817
IP_CIDR,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,26,16,1.625000,4.250000,1.000000,1.000000,1.0,22.562500
Whois_Email,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,5,5.400000,82.600000,1.000000,1.000000,1.0,17902.440000
Whois_Name,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,6,11.500000,602.833333,1.000000,1.000000,1.0,12432.250000
Whois_Phone,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,5,2.600000,8.200000,1.000000,1.000000,1.0,17902.440000

In [18]:
type_data['Delta_K'] = (type_data['Avg_K_2'] - type_data['Avg_K'] ** 2) ** 0.5 / type_data['K_0']
type_data['Delta_Y'] = (type_data['Avg_Y_2'] - type_data['Avg_Y'] ** 2) ** 0.5;
type_data['R'] = type_data['Avg_Y'] / type_data['Y_r']
type_data['Delta_R'] = type_data['Delta_Y'] / type_data['Y_r']

type_data

,Domain,IP,IP_CIDR,ASN,Cert_SHA256,Whois_Name,Whois_Email,Whois_Phone,All,num,Avg_K,Avg_K_2,Avg_Y,Avg_Y_2,K_0,Y_r,Delta_K,Delta_Y,R,Delta_R
type,,,,,,,,,,,,,,,,,,,,
ASN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,26,1,26.000000,676.000000,1.000000,1.000000,1.0,5776.000000,0.000000,0.000000,0.000173,0.000000
Cert_SHA256,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,17,4.411765,68.529412,1.000000,1.000000,1.0,1548.653979,7.004694,0.000000,0.000646,0.000000
Domain,1120.0,413.0,NaN,NaN,75.0,69.0,27.0,13.0,1717,669,2.566517,42.509716,0.910582,0.871497,6.0,1.013743,0.998926,0.205761,0.898237,0.202971
IP,413.0,NaN,26.0,26.0,NaN,NaN,NaN,NaN,465,76,6.118421,97.355263,0.875935,0.812732,3.0,77.530817,2.580271,0.213239,0.011298,0.002750
IP_CIDR,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,26,16,1.625000,4.250000,1.000000,1.000000,1.0,22.562500,1.268611,0.000000,0.044321,0.000000
Whois_Email,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,5,5.400000,82.600000,1.000000,1.000000,1.0,17902.440000,7.310267,0.000000,0.000056,0.000000
Whois_Name,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,6,11.500000,602.833333,1.000000,1.000000,1.0,12432.250000,21.692933,0.000000,0.000080,0.000000
Whois_Phone,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,5,2.600000,8.200000,1.000000,1.000000,1.0,17902.440000,1.200000,0.000000,0.000056,0.000000

In [19]:
output_nodes = np.log(type_data['R']*1e6)
output_nodes

type
ASN             5.154044
Cert_SHA256     6.470369
Domain         13.708190
IP              9.332371
IP_CIDR        10.699221
Whois_Email     4.022818
Whois_Name      4.387461
Whois_Phone     4.022818
Name: R, dtype: float64

In [20]:
output_links = []
for idx, row in type_data[node_type].iterrows():
    for i, v in row.iteritems():
        if v != v:
            continue;
        output_links.append({'source':idx, 'target':i, 'value':v})

output_links = pd.DataFrame(output_links)

In [21]:
tmp = output_nodes.to_csv()
print(tmp)

type,R
ASN,5.154043877391612
Cert_SHA256,6.470369125820249
Domain,13.708189643137416
IP,9.33237117070815
IP_CIDR,10.699221321871175
Whois_Email,4.022818262576018
Whois_Name,4.387461376163928
Whois_Phone,4.022818262576018

In [22]:
tmp = output_links.to_csv()
print(tmp)

,source,target,value
0,ASN,IP,26.0
1,Cert_SHA256,Domain,75.0
2,Domain,Domain,1120.0
3,Domain,IP,413.0
4,Domain,Cert_SHA256,75.0
5,Domain,Whois_Name,69.0
6,Domain,Whois_Email,27.0
7,Domain,Whois_Phone,13.0
8,IP,Domain,413.0
9,IP,IP_CIDR,26.0
10,IP,ASN,26.0
11,IP_CIDR,IP,26.0
12,Whois_Email,Domain,27.0
13,Whois_Name,Domain,69.0
14,Whois_Phone,Domain,13.0